.all-activities-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.activities-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.personal-information{
    display: flex;
    background-color: gray;
    width: 90%;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.break-time{
    background-color: lightgray;
    justify-content: space-around;
    margin: 10px;

}