.single-activity{
    background-color: azure;
    width: auto;
    height: 400px;
    border: 1px solid #95A0A7;
    border-radius: 7px;
}

.single-activity img {
    width: auto;
    height: 280px;
    
}

.btn-activities{
    width: auto;
    height: 30px;
    
}